@page "/todo"
@rendermode InteractiveServer

<h3>Todo (@todoItems.Count(todo => !todo.IsDone))</h3>

<input @bind="newTodo" />
<button @onclick="AddTodo">Add</button>

<ul>
    @foreach (var todo in todoItems)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            <input @bind=todo.Title />
        </li>
    }
</ul>

@code {
    private List<TodoItem> todoItems = new List<TodoItem>();
    string newTodo = string.Empty;

    private void AddTodo()
    {
        if(!string.IsNullOrWhiteSpace(newTodo))
        {
            todoItems.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}
