# Version control
.git
.gitignore
.gitattributes

# Development
**/bin/
**/obj/
**/node_modules/
**/.vs/
**/.vscode/
**/TestResults/

# Docker
Dockerfile*
docker-compose*
.docker/

# Documentation
README.md
LICENSE
*.md

# Build artifacts
**/dist/
**/coverage/
**/publish/

# Environment files
**/*.env
**/*.env.*
**/appsettings.*.json
!**/appsettings.json

# Misc
**/*.log
**/*.user
**/*.userosscache
**/*.dbmdl
**/*.jfm