@inherits LayoutComponentBase
@inject DialogService DialogService

<RadzenComponents @rendermode="InteractiveServer" />

<RadzenLayout>
    <RadzenHeader>
        <RadzenRow JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center">
            <RadzenColumn Size="5">
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center" Gap="0">
                    <RadzenSidebarToggle Click="ToggleSidebar1" />
                    <RadzenLabel Text="OpenHRCore" />
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="7">
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" AlignItems="AlignItems.Center" Gap="2">
                    <RadzenAppearanceToggle class="rz-mr-5 rz-border-radius-10 rz-shadow-10" />

                    <RadzenToggleButton Icon="settings" class="rz-mr-5 rz-border-radius-10 rz-shadow-10" ToggleIcon="settings" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Large" Click="@OpenSideDialog" />
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>

    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebarExpanded" Responsive="false" Style="width: max-content">
        <RadzenPanelMenu Click="OnParentClicked" Multiple="@multiple">
            <RadzenPanelMenuItem Text="Dashboard" Icon="dashboard" />
            <RadzenPanelMenuItem Text="Organization" Icon="corporate_fare">
                <RadzenPanelMenuItem Text="Company Profile" Icon="store"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Organization Units" Icon="account_tree"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Career Connect" Icon="person_add">
                <RadzenPanelMenuItem Text="Jobs" Icon="work"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Candidates" Icon="person_search"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Stages" Icon="fact_check"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Job Offer" Icon="mail"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Expanded="true" Text="WorkForce" Icon="groups">
                <RadzenPanelMenuItem Text="Profile" Icon="account_circle"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Employees" Icon="manage_accounts"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Workforce Transitions" Icon="contract_edit"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Policies" Icon="policy"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Time Track" Icon="timer">
                <RadzenPanelMenuItem Text="Attendances" Icon="check_circle"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Shift Assign" Icon="check_circle"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Biometric Devices" Icon="check_circle"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="My Attendances" Icon="check_circle"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="FlexiLeave" Icon="date_range">
                <RadzenPanelMenuItem Text="Profile" Icon="check_circle"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Employees" Icon="check_circle"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Pay Stream" Icon="attach_money">
                <RadzenPanelMenuItem Text="Profile" Icon="check_circle"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Employees" Icon="check_circle"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Setup" Icon="data_object">
                <RadzenPanelMenuItem Text="Profile" Icon="check_circle"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Employees" Icon="check_circle"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Administration" Icon="settings">
                <RadzenPanelMenuItem Text="Profile" Icon="check_circle"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Employees" Icon="check_circle"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="0">
            <RadzenLabel Text="© 2024 OpenHRCore. All rights reserved." />
        </RadzenStack>
    </RadzenFooter>
</RadzenLayout>

@code {
    bool sidebarExpanded = true;
    bool multiple = true;

    private void ToggleSidebar1() => sidebarExpanded = !sidebarExpanded;

    void OnParentClicked(MenuItemEventArgs args) { }

    void OnChildClicked(MenuItemEventArgs args) { }

    async Task OpenSideDialog()
    {

        await DialogService.OpenSideAsync<SideSettingDialog>("Settings",
            options: new SideDialogOptions
                {
                    CloseDialogOnOverlayClick = true,
                    Position = DialogPosition.Right,
                    ShowMask = true
                }
        );
    }
}
