@inherits LayoutComponentBase
@inject DialogService DialogService

<RadzenComponents @rendermode="InteractiveServer" />

<RadzenLayout>
    <RadzenHeader>
        <RadzenRow JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center">
            <RadzenColumn Size="5">
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center" Gap="0">
                    <RadzenSidebarToggle Click="ToggleSidebar" />
                    <RadzenLabel Text="OpenHRCore" />
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="7">
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" AlignItems="AlignItems.Center" Gap="2">
                    <RadzenAppearanceToggle class="rz-mr-3 rz-border-radius-10 rz-shadow-10" />
                    <RadzenProfileMenu  class="rz-my-0 rz-p-0">
                        <Template >
                            <RadzenStack class="rz-py-3" Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="3">
                                <RadzenIcon Icon="account_circle" />
                                <RadzenLabel Text="Stephen" />
                            </RadzenStack>

                        </Template>
                        <ChildContent>
                            <RadzenProfileMenuItem Text="User Profile" Icon="account_circle"></RadzenProfileMenuItem>
                            <RadzenProfileMenuItem Text="Edit" Icon="edit"></RadzenProfileMenuItem>
                            <RadzenProfileMenuItem Text="Notification" Icon="announcement"></RadzenProfileMenuItem>
                            <RadzenProfileMenuItem Text="Logout" Icon="logout"></RadzenProfileMenuItem>
                        </ChildContent>
                    </RadzenProfileMenu>
                    <RadzenToggleButton Icon="settings" class="rz-mr-5 rz-border-radius-0 rz-shadow-0" ToggleIcon="settings" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Large" Click="@OpenSideDialog" />
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>

    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebarExpanded" Responsive="true" Style="width: max-content">
        <RadzenPanelMenu Click="OnParentClicked" Multiple="@multiple">
            <RadzenPanelMenuItem Text="Dashboard" Icon="dashboard" />
            <RadzenPanelMenuItem Text="Organization" Icon="home_app_logo">
                <RadzenPanelMenuItem Text="Company Profile" Icon="manage_accounts"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Organization Units" Icon="account_tree"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Career Connect" Icon="person_add">
                <RadzenPanelMenuItem Text="Jobs" Icon="work"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Candidates" Icon="person_search"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Stages" Icon="assignment_add"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Job Offers" Icon="assignment_add"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Expanded="true" Text="WorkForce" Icon="groups">
                <RadzenPanelMenuItem Text="Profile" Icon="account_circle"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Employees" Icon="manage_accounts"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Workforce Transitions" Icon="assignment_add"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Policies" Icon="policy"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Time Track" Icon="timer">
                <RadzenPanelMenuItem Text="Attendances" Icon="today"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Shift Assign" Icon="calendar_month"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Biometric Devices" Icon="devices"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="FlexiLeave" Icon="date_range">
                <RadzenPanelMenuItem Text="Leave Requests" Icon="assignment"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Leave Types" Icon="code"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Leave Policies" Icon="policy"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Leave Assignments" Icon="assignment_add"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Pay Stream" Icon="attach_money">
                <RadzenPanelMenuItem Text="Payslips" Icon="paid"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Allowances" Icon="assignment_add"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Deductions" Icon="assignment_add"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Taxes" Icon="receipt"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Setup"  Icon="data_object">
                <RadzenPanelMenuItem Icon="deployed_code" Text="CareerConnect"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Icon="deployed_code" Text="WorkForce"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Icon="deployed_code" Text="TimeTrack"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Icon="deployed_code" Text="FlexiLeave"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Icon="deployed_code" Text="PayStream"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Administration" Icon="settings">
                <RadzenPanelMenuItem Text="Users" Icon="manage_accounts"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Roles" Icon="admin_panel_settings"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Permissions" Icon="shield_person"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Settings" Icon="manufacturing"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="0">
            <RadzenLabel Text="© 2024 OpenHRCore. All rights reserved." />
        </RadzenStack>
    </RadzenFooter>
</RadzenLayout>

@code {
    bool sidebarExpanded = true;
    bool multiple = true;

    private void ToggleSidebar() => sidebarExpanded = !sidebarExpanded;

    void OnParentClicked(MenuItemEventArgs args) { }

    void OnChildClicked(MenuItemEventArgs args) { }

    async Task OpenSideDialog()
    {

        await DialogService.OpenSideAsync<SideSettingDialog>("Settings",
            options: new SideDialogOptions
                {
                    CloseDialogOnOverlayClick = true,
                    Position = DialogPosition.Right,
                }
        );
    }
}
